/* Reset básico para remover as margens padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333; /* Cor padrão do texto */
    background-color: #FFF; /* Cor padrão do fundo */
}

.accessibility-controls {
    padding: 10px;
    background-color: #f4f4f4;
    text-align: center;
}

.accessibility-controls button {
    font-size: 16px;
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accessibility-controls button:hover {
    background-color: #0056b3;
}

header, nav, main, section, footer {
    padding: 20px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #007bff; /* Cor padrão dos links */
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover, nav ul li a:focus {
    text-decoration: underline;
}

main {
    background-color: #f4f4f4; /* Cor padrão do fundo da área principal */
    padding: 20px;
    color: #000; /* Cor padrão do texto da área principal */
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #444; /* Cor padrão do fundo do rodapé */
    color: #fff; /* Cor padrão do texto do rodapé */
}

/* Estilos para alto contraste */
.high-contrast {
    background-color: #000 !important; /* Fundo preto para alto contraste */
    color: #FFF !important; /* Texto branco para alto contraste */
}

.high-contrast a {
    color: #FFD700 !important; /* Links em dourado para alto contraste */
}

.high-contrast header, .high-contrast nav, .high-contrast main, .high-contrast section, .high-contrast footer {
    background-color: #000 !important; /* Fundo preto em todas as seções */
    color: #FFF !important; /* Texto branco em todas as seções */
}

.high-contrast nav ul li a {
    color: #FFD700 !important; /* Links em dourado */
}

/* Estilos para destacar links */
.highlight-links a {
    background-color: #FFFF00; /* Fundo amarelo para destacar links */
    color: #000; /* Texto preto para destacar links */
    padding: 3px;
}
