/* Reset básico para remover as margens padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #FFF;
}

.accessibility-controls {
    padding: 10px;
    background-color: #f4f4f4;
    text-align: center;
}

.accessibility-controls button {
    font-size: 16px;
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accessibility-controls button:hover {
    background-color: #0056b3;
}

header, nav, main, section, footer {
    padding: 20px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover, nav ul li a:focus {
    text-decoration: underline;
}

main {
    background-color: #f4f4f4;
    padding: 20px;
    color: #000;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #444;
    color: #fff;
}

.high-contrast {
    background-color: #000;
    color: #FFF;
}

.highlight-links a {
    background-color: #FFFF00;
    color: #000;
    padding: 3px;
}

.normal-links a {
    background-color: transparent;
    color: #007bff;
    padding: 0;
}
