/* Reset básico para remover as margens padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333; /* Cor de texto padrão */
    background-color: #FFF; /* Cor de fundo padrão */
}

.accessibility-controls {
    padding: 10px;
    background-color: #e2e2e2; /* Fundo mais claro para os controles */
    text-align: center;
}

.accessibility-controls button {
    font-size: 16px;
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff; /* Azul padrão */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accessibility-controls button:hover, .accessibility-controls button:focus {
    background-color: #0056b3; /* Azul mais escuro para hover/focus */
}

header, nav, main, section, footer {
    padding: 20px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a, .normal-links a {
    color: #007bff; /* Azul para links */
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover, nav ul li a:focus, .highlight-links a {
    text-decoration: underline; /* Sublinhado para hover/focus */
    background-color: #FFFF00; /* Fundo amarelo para destacar */
    color: #000; /* Texto preto para destacar */
}

main {
    background-color: #f4f4f4; /* Cor de fundo da área principal */
    padding: 20px;
    color: #000; /* Cor de texto da área principal */
}

section h2 {
    color: #0056b3; /* Azul para títulos */
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #444; /* Fundo do rodapé */
    color: #fff; /* Texto do rodapé */
}

img {
    width: 100%; /* Largura como 100% do elemento pai */
    height: auto; /* Altura automática para manter a proporção */
    max-width: 100%; /* Máximo de 100% da largura do elemento pai */
}

.high-contrast {
    background-color: #000; /* Fundo preto para alto contraste */
    color: #FFF; /* Texto branco para alto contraste */
}

.high-contrast a, .high-contrast nav ul li a, .high-contrast header, .high-contrast main, .high-contrast section h2, .high-contrast footer {
    color: #FFD700 !important; /* Links e textos em dourado para alto contraste */
    background-color: #000 !important; /* Fundo preto em todas as seções */
}

/* Estilos para destacar links */
.highlight-links a {
    background-color: #FFFF00; /* Fundo amarelo para destacar links */
    color: #000; /* Texto preto para destacar links */
    padding: 3px;
}
